<nav class="navbar navbar-expand-lg navbar-light bg-warning">
<div class="container-fluid">
<a class="navbar-brand" href="{% url 'index' %}"><strong>Assignment</strong></a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarText">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" data-toggle="modal" data-target="#form">Add File</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="">Menu 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="">Menu 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="">Menu 3</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="">Menu 4</a>
    </li>
  </ul>
</div>
</div>
</nav>
